<ion-header class="elegant-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="title-container">
      <h1 class="main-title">Hábitos</h1>
      <div class="title-underline"></div>
    </div>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment value="habitos" (ionChange)="navegar($event)" class="custom-segment">
      <ion-segment-button value="habitos">
        Hábitos
      </ion-segment-button>
      <ion-segment-button value="conquistas">
        Conquistas
      </ion-segment-button>
      <ion-segment-button value="objetivos">
        Objetivos
      </ion-segment-button>
      <ion-segment-button value="categorias">
        Categorias
      </ion-segment-button>
    </ion-segment>


  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
          @for (habito of habitos; track habito.id) {
            <ion-card class="habit-card">
              <ion-card-header>
                <ion-card-subtitle>
                  <ion-badge [color]="getStatusColor(habito.status)" class="status-badge">
                    {{ habito.status }}
                  </ion-badge>
                  <ion-text color="medium" class="frequency-text">
                    {{ habito.frequencia }}
                  </ion-text>
                </ion-card-subtitle>
                <ion-card-title>{{ habito.nome }}</ion-card-title>
              </ion-card-header>
              
              <ion-card-content>
                <p>{{ habito.descricao }}</p>
                <ion-text color="medium" class="date-text">
                  <p>Início: {{ habito.dataInicio | date: 'dd/MM/yyyy' }}</p>
                </ion-text>
              </ion-card-content>
              
              <ion-item lines="none" detail="false">
                <ion-buttons slot="end">
                  <ion-button fill="clear" (click)="openEditHabitModal(habito)">
                    <ion-icon name="create-outline" slot="icon-only"></ion-icon>
                  </ion-button>
                  <ion-button fill="clear" (click)="confirmDeleteHabit(habito)">
                    <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item>
            </ion-card>
          }
          
          @if (habitos.length === 0) {
            <ion-card>
              <ion-card-content>
                <p class="ion-text-center">Nenhum hábito encontrado.</p>
              </ion-card-content>
            </ion-card>
          }
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddHabitModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
